<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497421892744-hbrhgc2kdhj8subclok2sbpmbu8b4e4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497421892744-hbrhgc2kdhj8subclok2sbpmbu8b4e4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497421892744-c4tv88nm0vd1h21712fhlj11fkn2ajoi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkFaAe5reIq_Mh2WPwGzOTLRmy4FrTKb0</string>
	<key>GCM_SENDER_ID</key>
	<string>497421892744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telabook.web-debug</string>
	<key>PROJECT_ID</key>
	<string>telebookchat</string>
	<key>STORAGE_BUCKET</key>
	<string>telebookchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497421892744:ios:5ad82f0bd3400ee3b0f33d</string>
	<key>DATABASE_URL</key>
	<string>https://telebookchat.firebaseio.com</string>
</dict>
</plist>