//
//  Config-Staging.xcconfig
//  Telabook
//
//  Created by Anmol Rajpal on 28/05/20.
//  Copyright © 2020 Anmol Rajpal. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Telabook/Pods-Telabook.prerelease.xcconfig"

BASE_URL              = https:\/\/api-stage.telabook.com
API_HOST              = api-stage.telabook.com
URL_SCHEME            = https
SUBDOMAIN             = /api
TIMEOUT_INTERVAL      = 15
APP_NAME              = Telabook-PreRelease
BUNDLE_ID             = com.telabook.web-prerelease
APP_VERSION           = 1.0.0
APP_BUILD_NUMBER      = 38
