//
//  Config-Staging.xcconfig
//  Telabook
//
//  Created by Anmol Rajpal on 28/05/20.
//  Copyright © 2020 Anmol Rajpal. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Telabook/Pods-Telabook.staging.xcconfig"

BASE_URL              = // e.g,=> https:\/\/api.staging-url.com
API_HOST              = // e.g,=> api.staging-url.com
URL_SCHEME            = // e.g,=> https
SUBDOMAIN             = // e.g,=> /subdomain
TIMEOUT_INTERVAL      = // e.g,=> 15
APP_NAME              = // e.g,=> AppName-Staging
BUNDLE_ID             = // e.g,=> com.example.app-staging
APP_VERSION           = // e.g,=> 1.0.0
APP_BUILD_NUMBER      = // e.g,=> 10
